<div class="column-layout group">
  <h5 class="h5">
    BOX
  </h5>
  <igx-input-group type="box" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" igxInput />
    <label igxLabel>Label/Placeholder</label>
  </igx-input-group>
  <igx-input-group type="box" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" [disabled]="true" igxInput />
    <label igxLabel>I'm disabled</label>
  </igx-input-group>
  <igx-input-group type="box" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <input type="text" igxInput />
    <label igxLabel>Label +prefix+box+help</label>
    <igx-hint>sample hint text</igx-hint>
  </igx-input-group>
  <igx-input-group type="box" class="user-input">
    <input type="text" igxInput />
    <label igxLabel>Label/Placeholder</label>
  </igx-input-group>
  <igx-input-group type="box" class="user-input">
    <label igxLabel for="inputField">Date-box style-input format 1</label>
    <input name="inputField" [required]="false" [disabled]="false" igxInput igxDateTimeEditor="MM/dd/yyyy" displayFormat="longDate" [spinLoop]="true" [minValue]="date" [maxValue]="date1" />
  </igx-input-group>
  <igx-date-picker type="box" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
</div>
<div class="column-layout group">
  <h5 class="h5">
    BORDER
  </h5>
  <igx-input-group type="border" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" igxInput />
    <label igxLabel>Label + prefix + suffix + border</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" [disabled]="true" igxInput />
    <label igxLabel>I'm disabled</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <input type="text" igxInput />
    <label igxLabel>Label +prefix+box+help</label>
    <igx-hint>sample hint text</igx-hint>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="text" igxInput />
    <label igxLabel>Label/Placeholder</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <label igxLabel for="inputField">Date-box style-input format 1</label>
    <input name="inputField" [required]="false" [disabled]="false" igxInput igxDateTimeEditor="MM/dd/yyyy" displayFormat="longDate" [spinLoop]="true" [minValue]="date" [maxValue]="date1" />
  </igx-input-group>
  <igx-date-picker type="border" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
</div>
<div class="column-layout group">
  <h5 class="h5">
    LINE
  </h5>
  <igx-input-group type="border" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" igxInput />
    <label igxLabel>Label + prefix + suffix + border</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" [disabled]="true" igxInput />
    <label igxLabel>I'm disabled</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <igx-prefix>
      <igx-icon class="icon">
        person
      </igx-icon>
    </igx-prefix>
    <input type="text" igxInput />
    <label igxLabel>Label +prefix+box+help</label>
    <igx-hint>sample hint text</igx-hint>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="text" igxInput />
    <label igxLabel>Label/Placeholder</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <label igxLabel for="inputField">Date-box style-input format 1</label>
    <input name="inputField" [required]="false" [disabled]="false" igxInput igxDateTimeEditor="MM/dd/yyyy" displayFormat="longDate" [spinLoop]="true" [minValue]="date" [maxValue]="date1" />
  </igx-input-group>
  <igx-date-picker type="border" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
</div>
